*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  max-width: 1000px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backgroundForm {
  -webkit-box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
          box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
  width: 30%;
  background: linear-gradient(225deg, #b224ef 0%, #7579ff 100%) white;
  border: 1px solid #833ab4;
  border-radius: 8px;
  padding: 15px 20px;
}

.backgroundForm h3 {
  color: #f7f7f7;
  margin: 0;
}

.backgroundForm p {
  color: #f7f7f7;
  font-size: 15px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  color: #f7f7f7;
  margin-top: 14px;
}

form #message {
  border: 1px solid #f7f7f7;
  background: transparent;
  padding: 5px 10px;
  color: #f7f7f7;
  word-wrap: break-word;
  height: 80px;
  resize: vertical;
}

form #message:focus {
  outline: 2px solid #f7f7f7;
}

form #phone {
  margin: 14px 0;
  display: none;
}

form #phone::-webkit-input-placeholder {
  color: #f7f7f7;
}

form #phone:-ms-input-placeholder {
  color: #f7f7f7;
}

form #phone::-ms-input-placeholder {
  color: #f7f7f7;
}

form #phone::placeholder {
  color: #f7f7f7;
}

form #submit {
  font-weight: 600;
  margin-top: 15px;
}

input {
  border: 1px solid #f7f7f7;
  background: transparent;
  padding: 5px 10px;
  color: #f7f7f7;
}

input:focus {
  outline: 2px solid #f7f7f7;
}

.newsletter {
  -webkit-box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
          box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
  margin-top: 40px;
  margin-left: 100px;
  width: 100%;
  max-width: 400px;
  height: 30%;
  border-radius: 8px;
  background: linear-gradient(225deg, #f6d365 0%, #fda085 100%) white;
  color: #f7f7f7;
  padding: 10px 15px;
}

.newsletter h2 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter h2 i {
  font-size: 35px;
  margin-left: 10px;
}

.subscribeLine {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribeLine #subscribe {
  margin-right: 15px;
  color: #f7f7f7;
}

.subscribeLine #subscribe::-webkit-input-placeholder {
  color: #f7f7f7;
}

.subscribeLine #subscribe:-ms-input-placeholder {
  color: #f7f7f7;
}

.subscribeLine #subscribe::-ms-input-placeholder {
  color: #f7f7f7;
}

.subscribeLine #subscribe::placeholder {
  color: #f7f7f7;
}

.subscribeLine #subscribe:focus {
  outline: 2px solid #f7f7f7;
}

.subscribeLine #signUp {
  font-weight: 600;
}

.socialMedia {
  -webkit-box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
          box-shadow: 3px -2px 12px -2px rgba(0, 0, 0, 0.68);
  margin-left: 50px;
  margin-top: 40px;
  background: linear-gradient(225deg, #96e6a1 0%, #d4fc79 100%) white;
  width: 100%;
  max-width: 400px;
  height: 40%;
  border-radius: 8px;
  color: #f7f7f7;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socialMedia .textMedia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.socialMedia .icons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialMedia .icons a {
  text-decoration: none;
  color: #f7f7f7;
}

.socialMedia .icons a i {
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: .9rem;
  }
  .newsletter {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .backgroundForm {
    max-width: 400px;
    width: 100%;
    margin: 40px auto 0;
  }
  section {
    width: 100%;
  }
  .newsletter {
    margin: 40px auto 0;
  }
  .socialMedia {
    margin: 40px auto 0;
  }
}
/*# sourceMappingURL=style.css.map */